.shipper-request{
    padding: 20px;
}

.shipper-request .title{
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 20px;
}

.shipper-request .item{
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    padding: 15px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    margin-bottom: 20px;
}

.shipper-request .item .item-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shipper-request .item .item-left img{
    width: 200px;
    object-fit: cover;
}

.shipper-request .item .item-left .shipper-owner{
    display: flex;
    gap: 5px;
    align-items: center;
}

.shipper-request .item .item-right{
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.shipper-request .item .item-right .shipper-name{
    font-size: 25px;
    font-weight: 600;
    color: var(--main-color);
    margin-bottom: 10px;
}

.shipper-request .item .item-right .info-container{
    display: flex;
    gap: 30px;
    font-size: 18px;
}

.shipper-request .item .item-right .info-item{
    display: flex;
    gap: 10px;
}

.shipper-request .item .item-right .info-item label{
    font-weight: bold;
}

.shipper-request .action{
    margin-top: 10px;
    display: flex;
    gap: 20px;
}

.shipper-request .action button{
    width: 150px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-size: 20px;
    padding: 2px 10px;
}

.shipper-request .action button:first-child{
    background-color: #5cb85c;
}

.shipper-request .action button:first-child:hover{
    background-color: #51d151;
}

.shipper-request .action button:nth-child(2){
    background-color: #dc3545;
}

.shipper-request .action button:nth-child(2):hover{
    background-color: #ca4351;
}

.shipper-request .action button:last-child{
    background-color: var(--main-color);
}

.shipper-request .action button:last-child:hover{
    background-color: rgb(241, 125, 29);
}

.shipper-request .pagination{
    margin: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.shipper-request .pagination button{
    background-color: #ffffff;
    width: 80px;
    padding: 5px 10px;
    color: red;
    border: 1px solid rgb(163, 161, 161);
    border-radius: 10px;
    cursor: pointer;
}

.shipper-request .pagination button:hover{
    background-color: rgb(248, 248, 248)
}