.employee {
  flex: 4;
  margin: 10px;
}

.employee h1 {
  font-size: 35px;
  font-weight: 800;
  margin-bottom: 20px;
}

.employee-list-header {
  display: flex;
  justify-content: space-between;
  margin: 20px 10px 30px;
}

.employee-list-header .title {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}

.employee-list-header .title .action {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}

.employee-list-header .title input,
select {
  padding: 5px 20px;
  border: 1px solid rgb(197, 188, 188);
  border-radius: 2px;
  width: 300px;
  font-size: 18px;
}

.employee-list-header .add button {
  background-color: #0d6efd;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.employee-list-header .add button:hover {
  background-color: #428bfa;
}

.employee-list-container table {
  border-collapse: collapse;
  width: 100%;
}

.employee-list-container table .row-title {
  display: flex;
  gap: 10px;
  align-items: center;
}

.employee-list-container table .row-title img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.employee-list-container table th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.employee-list-container table tr:hover {
  background-color: rgb(245, 241, 241);
}

.employee-list-container table .action {
  display: flex;
  gap: 15px;
}

.employee-list-container table .action button {
  color: white;
  padding: 7px 12px;
  border-radius: 10px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  border: none;
}

.employee-list-container table .action .update {
  background-color: #198754;
}

.employee-list-container table .action .update:hover {
  background-color: rgb(45, 145, 98);
}

.employee-list-container table .action .delete {
  background-color: #dc3545;
}

.employee-list-container table .action .delete:hover {
  background-color: #e05160;
}

.employee .pagination {
  margin: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-items: center;
}

.employee .pagination button {
  background-color: #ffffff;
  width: 80px;
  padding: 5px 10px;
  color: red;
  border: 1px solid rgb(163, 161, 161);
  border-radius: 10px;
  cursor: pointer;
}

.employee .pagination button:hover {
  background-color: rgb(248, 248, 248);
}

.employee .update-model-overplay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee .model {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

.employee .model input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.employee .action  {
  display: flex;
  align-items: center;
}

.employee .action img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.employee .action img:hover {
  padding: 4px;
}


.employee .status-approved {
  color: green;
  font-weight: bold;
}

.employee .status-blocked {
  color: red;
  font-weight: bold;
}
