.detail-store-model-overplay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-in-out;
}

.detail-store-model-overplay h3 {
  font-size: 25px;
  font-weight: bold;
}

.detail-store-model-overplay .title {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 5px;
}


.detail-store-model-overplay .model {
  background: #fff;
  padding: 20px;
  width: 1000px;
  height: 500px;
  overflow-y: scroll;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  animation: scaleIn 0.3s ease-in-out;
}

.detail-store-model-overplay .info-container{
  display: flex;
  flex-direction: column;
  gap: 30px;
}


.detail-store-model-overplay .info-container .store-info{
  display: flex;
  gap: 30px;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  font-size: 18px;
}

.detail-store-model-overplay .info-container .store-info .avatar{
  flex: 1;
  margin-top: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.detail-store-model-overplay .info-container .store-info .info{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.detail-store-model-overplay .info-container .store-info .avatar img{
  height: 125px;
  width: 200px;
  object-fit: cover;
}

.detail-store-model-overplay .info-container .store-info .info{
  flex: 4;
}

.detail-store-model-overplay .info-container .store-info .info .info-item{
  display: flex;
  justify-content: space-between;
}

.detail-store-model-overplay .info-container .store-info .info .info-item label{
  font-weight: bold;
}

.detail-store-model-overplay .info-container .store-info .info .info-item.id{
  color: #a3a0a0;
}

.status.approved {
  color: green;
  font-weight: bold;
}

.status.blocked {
  color: red;
  font-weight: bold;
}

.status.pending {
  color: orange;
  font-weight: bold;
}

.detail-store-model-overplay .info-container .owner-info .avatar{
  flex: 1;
  margin-top: 20px;
  display: flex;
  align-items: start;
  justify-content: center;
}

.detail-store-model-overplay .info-container .owner-info{
  display: flex;
  flex-direction: column;
  font-size: 18px;
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 10px;
  font-size: 18px;
}

.detail-store-model-overplay .info-container .owner-info .row{
  display: flex;
  gap: 100px;
}

.detail-store-model-overplay .info-container .owner-info .row .info-item{
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.detail-store-model-overplay .info-container .owner-info .row .info-item label{
  font-weight: bold;
}

.detail-store-model-overplay .model-buttons{
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-store-model-overplay .model-buttons button{
  font-size: 18px;
  color: white;
  background-color: #dc3545;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  width: 100px;
}

.detail-store-model-overplay .model-buttons button:hover{
  background-color: #e2505f;
}