.sidebar{
    flex: 1;
    height: calc(100vh - 50px);  /* 50px is navbar height*/
    background-color: rgb(250, 250, 250);
    position: sticky;
    top: 50px;
    height: 100vh;
    overflow-y: scroll;
}

.sidebar-container{
    padding: 20px;
    color: #555;
}

.sidebar-menu{
    margin-bottom: 15px;
}

.sidebar-title{
    font-size: 15px;
    color: rgb(179, 173, 173);
}

.sidebar-list{
    list-style: none;
    padding: 5px;
}

.sidebar-list-item{
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-bottom: 5px;
    gap: 10px;
}

.sidebar-list-item.active, .sidebar-list-item:hover{
    background-color: rgb(243, 234, 234);
}

.sidebar-icon{
    margin-right: 5px;
    font-size: 20px;
}
